RAILS_ENV=development
RAILS_MAX_THREADS=5
RAILS_MASTER_KEY=
DATABASE_URL=postgresql://localhost/questboard
CORS_ALLOWED_ORIGINS=http://localhost:3000,https://questboard.vercel.app
ADMIN_BASIC_AUTH_USERNAME=admin
ADMIN_BASIC_AUTH_PASSWORD=change-me
SECRET_KEY_BASE=replace-with-random-value
